

div.card{
    display: inline-block;
   background-color: purple;
   color: white;
   width: 20%;
 
}

#today-weather {
    text-align: center;
}

.five-day{
    display: grid;
    text-align: center;
    /* width: 15%;
    display: table; */
}

