

div.card{
   display: inline-block;
   background-color: purple;
   color: white;
   width: 18%;
   margin-bottom: 2%;
   font-size: 10px;
   margin-right: 1%;
 
}

div.card-body {
    margin-bottom: 2%;
}
#today-weather {
    text-align: center;
}

.five-day{
    display: grid;
    text-align: center;
    /* width: 15%;
    display: table; */
}

 
.searchResult {
    background-color: white;
} 

/* .cities-list {
    margin: 1%;
    text-align: center;
    float: left;
} */

#cityButton {
    margin-bottom: 2%;
    margin-top: 2%;
    align-self: center;

}

#cityButton.btn.searchResult{
    background-color: purple;
    color: white;
}

.card-text {
    margin-bottom: 1%;
}